
<div class="subnav-wrapper">
    <nav class="subnav-layout">
        <div class="subnav-content">
            <h2 class="subnav-h2">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                {{screen_info_nav_content_table}}
            </h2>
            <ul style="display:none;">
                <li class="{% if a=='0' %}subnav-active{% endif %}"> 
                    <a class="subnav-link" href="#1"
                    onclick="gtmEPush(_, 'Rules Menu Fundamentals Click','Rules');">{{screen_info_nav_dataprotection_1}}</a>
                </li>
                <li class="{% if a=='2' %}subnav-active{% endif %}">
                    <a class="subnav-link" href="#2"
                    onclick="gtmEPush(_, 'Rules Menu Game Screen Click','Rules');">{{screen_info_nav_dataprotection_2}}</a>
                </li>
                <li class="{% if a=='3' %}subnav-active{% endif %}">
                    <a class="subnav-link" href="#3"
                    onclick="gtmEPush(_, 'Rules Menu Game Modes Click','Rules');">{{screen_info_nav_dataprotection_3}}</a>
                </li>
                <li class="{% if a=='4' %}subnav-active{% endif %}">
                    <a class="subnav-link" href="#4"
                    onclick="gtmEPush(_, 'Rules Menu Question Types Click','Rules');">{{screen_info_nav_dataprotection_4}}</a>
                </li>
                <li class="{% if a=='5' %}subnav-active{% endif %}">
                    <a class="subnav-link" href="#5"
                    onclick="gtmEPush(_, 'Rules Menu Joker Click','Rules');">{{screen_info_nav_dataprotection_5}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>