{# src/Resources/views/securtiy/password.ok.html.twig #} 
{% extends 'security/init.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

	{% block master_header %}
        {% if not app.request.cookies.has('quizpiggy_cookie')  %}
			<div id="msg-box-cookie" class="msg-box-head-cookie" style="border-bottom: solid 1px #ffffff;">
				<div id="msg-box-close-cookie" class="msg-box-head-close-cookie">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div id="msg-box-text-cookie" class="msg-box-head-text-cookie">
					{{"[#startscreen_cookie#]"|ph|pha|raw}}
				</div>
			</div>
			{% set msg_box_news = 'display:none;' %}
		{% endif %}
		{% set user_status_style = '' %}
        {% if app.user and app.user.status == 5 %}
			{% set user_status_style = 'display:none;' %}
		{% endif %}
		<div class="header" id="header" style="{{user_status_style}}">
			<div class="header-wrapper-top">
				<div class="quizlogo">
					<a id="btn-home-logo">
						<img alt="Logo" height="50px" src="{{ asset('qz-'~quiz.id~'/'~quiz.logo2,'img') }}">
					</a>
				</div>
				<div class="wrapper-icons">
					<div class="result-wrapper">
						<a id="btn-highscore">
							<i class="fa fa-list-ol" aria-hidden="true"></i>
							<span class="txt">{{screen_global_score}}</span>
						</a>
					</div>
					<div class="feedback-wrapper">
						<a id="btn-quiz-feedback">
							<i class="fa fa-commenting-o" aria-hidden="true"></i>
							<span class="txt">{{screen_global_feedback}}</span>
						</a>
					</div>
					<div class="username-wrapper">
						<div class="imagebox">
							{% if app.user and app.user.status!=9 %}
								<a id="btn-profile">
									<i class="fa fa-user-o" aria-hidden="true"></i>
									<span class="txt">{{screen_global_user}}</span>
								</a>
							{% else %}
								{# <i class="fa fa-user-o" aria-hidden="true"></i> #}
							{% endif  %}
						</div>
					</div>
				</div>
			</div>
		</div>
    {% endblock %}

	{% block master_content %}
		<div class="content-wrapper startseite">
			{% if not app.user %}
				<h3 class="panels-list-group">{{screen_forgotpassword_head_done}}</h3>
			{% else %}
					<h3 class="panels-list-group">!</h3>
			{% endif  %}
			
			<div class="alert alert-success" role="alert">
				{{ app.session.get('m') }}
			</div>

			<button id="btn-home"  class="btn btn-grey">{{screen_global_home}}</button>
		</div>
		<!-- close #content-wrapper -->
		<div class="minheight"></div>
		
    {% endblock %} 
    
{% block footer %} 
{% endblock %}