{# src/AppBundle/Resources/views/security/password.new.html.twig #} 
{% extends 'security/init.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}


	{% block master_content %}
		<div class="content-wrapper startseite">
			<h1>{{screen_forgotpassword_h2}}</h1>
        	<p class="subheadline">{{screen_forgotpassword_h3}}</p>

			<form 
				action="{{ path('password_new') }}" 
				method="post" 
				class="" 
				id="f-my-password" 
				data-toggle="validator" 
				role="form">
				
				<div class="form-group">
					{{ form_widget(form.password.pass1, { 'attr': {
						'placeholder': screen_signup_form_placeholder_password,
						'data-error': msg_user_new_password_empty,
						'class': 'form-control'
						} }) }}
        			<div class="help-block with-errors">{{ form_errors(form.password.pass1) }}</div>
				</div>
				
				<div class="form-group">
					{{ form_widget(form.password.pass2, { 'attr': {
						'placeholder': screen_signup_form_placeholder_confirmpassword,
						'data-match':'#user_password_pass1',
						'data-match-error': msg_user_password_match_error,
						'data-error': msg_user_repeat_old_password_empty,
						'class': 'form-control'
						} }) }}
					<div class="help-block with-errors">{{ form_errors(form.password.pass2) }}</div>
				</div>
				
				<div style="display:none ">
					{{ form_rest(form) }}
				</div>					
				
				<button type="submit" class="btn btn-mail-signup">{{screen_changepassword_button_save}}</button>										
				
				<button id="btn-home"  class="btn btn-grey">{{screen_global_home}}</button>
				
				{# <div class="form-group">
					<a class="btn btn-default btn-sm" href="{{ path('my_user') }}">Zurück</a>
					<button class="btn btn-primary btn-sm" type="submit">Speichern</button>
				</div> #}
			
				<script type="text/javascript">
				//
				$( "#" ).each(function(index) {
					
					});
				</script>
			</form>
        </div> 
        <!-- close #content-wrapper -->
        
        <div class="minheight"></div>
    {% endblock %} 
    
